<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Symbol</th>
            <th scope="col">Price</th>
            <th scope="col">Notes</th>
          </tr>
        </thead>
          <tbody>
            <tr *ngFor="let currency of currencies; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>
                <img class="coin-logo" [src]="currency.imageUrl" loading="lazy" alt="{{currency.symbol}} logo">
                {{currency.name}}
              </td>
              <td>{{currency.symbol}}</td>
              <td>{{currency.price | currency:"USD":"symbol":"1.2-4" }}</td>
              <td>{{currency.notes | filterNotes}}</td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>
